/* .next-btn {
} */

body {
  padding: 0;
  margin: 0;
  background-color: #7e55aa94;
}

.hide {
  display: none;
}

.header {
  /* padding: 60px; */
  background: #1000ff;
  margin: 0 auto;
  width: 63%;
}

.title {
  background: #db0808c7;
  font-family: cursive;
  text-align: center;
  color: #ffffff;
  font-size: 60px;
  margin-left: 300px;
  margin-right: 300px;
}

.playScore {
  display: inline;
}

.player-score {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  margin: 25px auto;
  width: 50%;
}

.player1-name {
  font-size: 50px;
  color: #ba1313;
}

.player2-name {
  font-size: 50px;
  color: #0e0ea6;
}

.player1-score {
  font-size: 50px;
  color: #ba1313;
  text-align: center;
}

.player2-score {
  font-size: 50px;
  color: #0e0ea6;
  text-align: center;
}

/* NewGame */

.newContainer {
  margin: 0 auto;
  width: 63%;
  text-align: center;
}

.underlined {
  text-decoration: underline;
}

label {
  font-size: 40px;
}

.serach-term {
  height: 30px;
  width: 40%;
  font-size: 28px;
  margin: 20px 10px;
}

input[type='radio'] {
  border: 0px;
  width: 3%;
  height: 2em;
}

.options {
  font-size: 40px;
  text-decoration: underline;
  margin-bottom: 20px;
}

button[disabled] {
  background-color: #ff0000;
  color: #000000;
}

button[disabled].right-ans {
  background-color: #008000;
  color: #000000;
}

.rule-container {
  margin: 30px;
}

.radio-margin {
  margin: 10px;
}

/* PlayerView */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  width: 65%;
  margin: 100px auto;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  border: 1px solid #c9c9c9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  position: relative;
  background-color: #dfb8eb;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #9720d494;
}

.card-Qs {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.loading {
  text-align: center;
  font-size: 65px;
  margin: 50px 0;
}

.player-turn {
  width: 64%;
  margin: 0 auto;
}

.round-track {
  text-align: center;
  font-size: 65px;
  margin: 25px auto;
  width: 15%;
  color: #0a0f06;
  font-size: 40px;
  font-weight: 900;
}

.name1-turn {
  text-align: center;
  font-size: 65px;
  color: #ba1313;
  text-decoration: underline;
  margin: 50px 0;
}

.name2-turn {
  text-align: center;
  font-size: 65px;
  color: #0e0ea6;
  text-decoration: underline;
  margin: 50px 0;
}

.score-round {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  margin: 25px auto;
  width: 15%;
  color: #0a0f06;
  font-size: 40px;
  font-weight: 900;
}

.span-align {
  text-align: center;
}

.player1-color {
  color: #ba1313;
}

.player2-color {
  color: #0e0ea6;
}

/* question box */

.answer-choices {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  width: 52%;
  margin: 60px auto;
}

#all-answers {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  border: 1px solid #c9c9c9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  position: relative;
}

.question-container {
  background-color: #c6a0e3;
  margin: 0 auto 100px;
  width: 55%;
  padding: 40px 0;
  border-radius: 40px;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}

.category {
  color: #000000;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: underline;
}

.question-style {
  color: black;
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
  width: 90%;
}

.card-Anws {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.button-move {
  margin: 0 auto;
  width: 30%;
  text-align: center;
}

.btn {
  font-size: 40px;
  padding: 15px;
  border-radius: 20px;
}

.btn:hover {
  background-color: #e2d6df;
}

.winner {
  text-align: center;
  font-size: 65px;
  margin: 50px 0;
}

.click-below {
  text-align: center;
  font-size: 30px;
  margin: 50px 0;
}

.over-btn {
  margin: 0 20px;
}
